In [4]:
print('Hello world')

Hello world

In [7]:
a = 1
b = c = a
print(a)
print(b)
print(c)

1
1
1

In [8]:
a = 1
b = a
a = 2
print(a)
print(b)

2
1

In [15]:
a = "'Merida'is a bike compiny"
print(a)
b = '"yes"no'
print(b)

'Merida'is a bike compiny
"yes"no

In [12]:
a = """asdas ,d as[da\sd1asd
*ada%s
dasdadasdad"""
print(a)

asdas ,d as[da\sd1asd
*ada%s
dasdadasdad

In [21]:
a = '0123456789abcdef'
print (a[0])
print(a[3])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])
print(a[5:-1])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579
56789abcde

In [27]:
a = 'hello world'
print(len(a))
a = a+", I am Oscar, how are you?"
b = a.split(',')
c = a.split(' ')
print(b)
print(c)

11
['hello world', ' I am Oscar', ' how are you?']
['hello', 'world,', 'I', 'am', 'Oscar,', 'how', 'are', 'you?']

In [38]:
a = ['apple', 'banana', 'orange']
b = [1,2,3,4,5,6,7,8]
c = ['apple', 1,2,3,['dog', 'cat']]
d = list('apple')
print(a)
print(b)
print(c)
print(d)
print(type(a))

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5, 6, 7, 8]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']
<class 'list'>

In [37]:
t1 = ('apple', 'banana', 'orange', 'grape')
a, b, c, d = t1
print(a)
print(b)
print(c)
print(d)
t2 = ('grava', 'melon')
t = t1+t2
print(t)
print(type(t))
print(type(t1))

apple
banana
orange
grape
('apple', 'banana', 'orange', 'grape', 'grava', 'melon')
<class 'tuple'>
<class 'tuple'>

In [36]:
a = dict(name = 'Oscar', age = 21, eat = ['apple', 'banana'])
print(a)
print(type(a))

{'name': 'Oscar', 'age': 21, 'eat': ['apple', 'banana']}
<class 'dict'>

In [39]:
a = set()
b = set([1, 2, 3, 4, 5])
print(a)
print(b)

set()
{1, 2, 3, 4, 5}