In [4]:
print('Hello world')

Hello world

In [7]:
a = 1
b = c = a
print(a)
print(b)
print(c)

1
1
1

In [8]:
a = 1
b = a
a = 2
print(a)
print(b)

2
1

In [15]:
a = "'Merida'is a bike compiny"
print(a)
b = '"yes"no'
print(b)

'Merida'is a bike compiny
"yes"no

In [12]:
a = """asdas ,d as[da\sd1asd
*ada%s
dasdadasdad"""
print(a)

asdas ,d as[da\sd1asd
*ada%s
dasdadasdad

In [21]:
a = '0123456789abcdef'
print (a[0])
print(a[3])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])
print(a[5:-1])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579
56789abcde

In [27]:
a = 'hello world'
print(len(a))
a = a+", I am Oscar, how are you?"
b = a.split(',')
c = a.split(' ')
print(b)
print(c)

11
['hello world', ' I am Oscar', ' how are you?']
['hello', 'world,', 'I', 'am', 'Oscar,', 'how', 'are', 'you?']

In [38]:
a = ['apple', 'banana', 'orange']
b = [1,2,3,4,5,6,7,8]
c = ['apple', 1,2,3,['dog', 'cat']]
d = list('apple')
print(a)
print(b)
print(c)
print(d)
print(type(a))

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5, 6, 7, 8]
['apple', 1, 2, 3, ['dog', 'cat']]
['a', 'p', 'p', 'l', 'e']
<class 'list'>

In [37]:
t1 = ('apple', 'banana', 'orange', 'grape')
a, b, c, d = t1
print(a)
print(b)
print(c)
print(d)
t2 = ('grava', 'melon')
t = t1+t2
print(t)
print(type(t))
print(type(t1))

apple
banana
orange
grape
('apple', 'banana', 'orange', 'grape', 'grava', 'melon')
<class 'tuple'>
<class 'tuple'>

In [36]:
a = dict(name = 'Oscar', age = 21, eat = ['apple', 'banana'])
print(a)
print(type(a))

{'name': 'Oscar', 'age': 21, 'eat': ['apple', 'banana']}
<class 'dict'>

In [63]:
a = set()
b = set([1, 2, 3, 4, 5, 1, 2, 3])
c = set({'x':1, 'y':2, 'z':3})
d = set('hello')
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

set()
{1, 2, 3, 4, 5}
{'x', 'z', 'y'}
{'h', 'l', 'e', 'o'}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

**practice**
**判斷**

In [64]:
a = 2
b = 3
if a>b:
  print('hello')
else:
  print('world')

print('OK')

world
OK

In [43]:
a = 2
b = 3
if a<b:
  print('hello')
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')

print('OK')

hello
a=2
OK

In [45]:
a = 2
b = 3
c = 0
if a>b or a<c and a==2 or b==4:
  print('ok1')
else:
  print('xxx')

xxx

In [48]:
for i in 'abc':
  print(i)

a
b
c

In [52]:
for a in ['x', 'y', 'z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [66]:
for a in ['x', 'y', 'z']:
  for b in[1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3
z 3

In [58]:
i = []
for t in range(10): #range  1->10;  t<=10
  t+=1
  i.append(t)
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

幫我加到100

In [71]:
try:
  a = input('輸入數字')
  print(int(a)+1)
except:
  pass
print('hello world')

輸入數字20
21
hello world

加分practic

In [70]:
a = []
for i in range(1,10):
  a.append(i*i)
print(a)

b = [j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]